<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hinode</title>
    <link rel="shortcut icon" href="/assets/logo.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" href="../components.css"/>
    <link rel="stylesheet" href="/components/button/button.css">
</head>
<body>
  <div class="wrapper">
    <aside class="side-nav-container">
        <div class="nav-brand">
          <a href="/index.html">
            <img src="/assets/hinode-tm.png">
            <h1>Hinode</h1>
          </a>
      </div>
      <div class="nav-pills">
        <ul class="side-nav-pills">
          <li><a href="/components/intro.html" class="side-nav-link">Getting Started</a></li>
          <li><a href="/components/button/button.html" class="side-nav-link">Button</a></li>
          <li><a href="/components/avatar/avatar.html" class="side-nav-link">Avatar</a></li>
          <li><a href="/components/carousel/carousel.html" class="side-nav-link">Carousel</a></li>
          <li><a href="/components/card/card.html" class="side-nav-link">Card</a></li>
          <li><a href="/components/forms/forms.html" class="side-nav-link">Forms</a></li>
          <li><a href="/components/modal/modal.html" class="side-nav-link">Modal</a></li>
          <li><a href="/components/navbar/navbar.html" class="side-nav-link">Navbar</a></li>
        </ul>
      </div>
    </aside>
    <main>
        <h1>Button</h1>
        <p>Use different button styles for any action or event to happen on click</p>
        <h2>Examples</h2>
        <div class="btn-container">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-outline">Outline</button>
            <button type="button" class="btn btn-primary btn-large">Large Button</button>
        </div>
        <div class='code-snippet'>
           <iframe
             src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=base16-dark&wt=bw&l=auto&ds=true&dsyoff=37px&dsblur=68px&wc=true&wa=true&pv=55px&ph=42px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=134%25&si=false&es=2x&wm=false&code=%2520%253Cbutton%2520type%253D%2522button%2522%2520class%253D%2522btn%2520btn-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%2520%253Cbutton%2520type%253D%2522button%2522%2520class%253D%2522btn%2520btn-secondary%2522%253ESecondary%253C%252Fbutton%253E%250A%2520%253Cbutton%2520type%253D%2522button%2522%2520class%253D%2522btn%2520btn-outline%2522%253EOutline%253C%252Fbutton%253E%250A%2520%253Cbutton%2520type%253D%2522button%2522%2520class%253D%2522btn%2520btn-primary%2520btn-large%2522%253ELarge%2520Button%253C%252Fbutton%253E"
             style="width: 807px; height: 264px; border:0; transform: scale(1); overflow:hidden;"
             sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
        <h2>Icon buttons</h2>
        <div class="btn-container">
          <button class="btn btn-icon">
            <i class="fas fa-shopping-cart"></i>
          </button>
          <button class="btn btn-icon">
            <i class="fas fa-search"></i>
          </button>
          <button class="btn btn-icon">
            <i class="fas fa-user"></i>
          </button>
        </div>
        <div class='code-snippet'>
          <iframe
          src="https://carbon.now.sh/embed?bg=rgba%2814%2C14%2C14%2C1%29&t=base16-dark&wt=bw&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-search%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-user%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A"
          style="width: 794px; height: 262px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        </div>
        <footer>
          <a href="/components/intro.html" class="prev">&#60; Gettign Started  </a>
          <a href="/components/avatar/avatar.html" class="next">Avatar &#62;</a>
        </footer>
    </main>
  </div>
   
</body>
</html>