
.carousel-container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 0;
}

.carousel-image {
    position: absolute;
}

.carousel-image img {
    width: 50rem;
    height: 25rem;
    
}
