<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hinode</title>
    <link rel="shortcut icon" href="/assets/logo.ico" />
    <link rel="stylesheet" href="../components.css"/>
    <link rel="stylesheet" href="carousel.css">
</head>
<body>
  <div class="wrapper">

    <aside class="side-nav-container">
        <div class="nav-brand">
          <a href="/index.html">
            <img src="/assets/hinode-tm.png">
            <h1>Hinode</h1>
          </a>
      </div>
      <div>
        <ul class="side-nav-pills">
          <li><a href="/components/intro.html" class="side-nav-link">Getting Started</a></li>
          <li><a href="/components/button/button.html" class="side-nav-link">Button</a></li>
          <li><a href="/components/avatar/avatar.html" class="side-nav-link">Avatar</a></li>
          <li><a href="/components/carousel/carousel.html" class="side-nav-link">Carousel</a></li>
          <li><a href="/components/card/card.html" class="side-nav-link">Card</a></li>
          <li><a href="/components/forms/forms.html" class="side-nav-link">Forms</a></li>
          <li><a href="/components/modal/modal.html" class="side-nav-link">Modal</a></li>
          <li><a href="/components/navbar/navbar.html" class="side-nav-link">Navbar</a></li>
        </ul>
      </div>
    </aside>

    <main>
        <h1>Carousel</h1>
        <p>Use different images or text as a slideshow</p>
        <h2>Examples</h2>
        <div class="carousel-container">
          <button class="carousel-button carousel-control-left">
            <img src=""/>
          </button>
            <figure class="carousel-image">
              <img src='/assets/carousel-images/bodyshop.jpeg' alt="carousel-image"/>
           </figure>
            <figure class="carousel-image">
             <img src='/assets/carousel-images/krave-two.png' alt="carousel-image"/>
            </figure>
           <figure class="carousel-image">
             <img src='/assets/carousel-images/Krave.png' alt="carousel-image"/>
            </figure>
           <figure class="carousel-image">
             <img src='/assets/carousel-images/innisfree.jpeg' alt="carousel-image"/>
           </figure>

           <button class="carousel-button carousel-control-right">
            <img src=""/>
           </button>
        </div>
        <div class='code-snippet'>
          
        </div>

    </main>
  </div>
   
</body>
</html>