.avatar-examples {
    display: flex;

}
.avatar img{
    border-radius: 50%;
    max-width: 8rem;
    height: 8rem;
}

.avatar-small img {
    max-width: 5rem;
    height: 5rem;
}

.avatar-medium img {
    max-width: 7rem;
    height: 7rem;
}
.avatar-online-status, .avatar-offline-status {
    max-width: 8rem;
    height: 8rem;
    position: relative;
}
.avatar-online-status .dot{
    position: absolute;
    bottom: 1.4rem;
    right: 1.4rem;
    background-color: green;
    height: 0.2rem;
    width: 0.2rem; 
  border-radius: 50%;
  display: inline-block;
}

.avatar-offline-status .dot{
    position: absolute;
    bottom: 1.4rem;
    right: 1.4rem;
    background-color: grey;
    height: 0.2rem;
    width: 0.2rem; 
  border-radius: 50%;
  display: inline-block;
}