<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hinode</title>
    <link rel="shortcut icon" href="./assets/logo.ico" />
    <link rel="stylesheet" href="./components.css"/>
    <link rel="stylesheet" href="./avatar.css">
</head>
<body>
  <div class="wrapper">

    <aside class="side-nav-container">
        <div class="nav-brand">
          <a href="/index.html">
            <img src="../assets/hinode-tm.png">
            <h1>Hinode</h1>
          </a>
      </div>
      <div>
        <ul class="side-nav-pills">
          <li><a href="intro.html" class="side-nav-link">Getting Started</a></li>
          <li><a href="/components/button.html" class="side-nav-link">Button</a></li>
          <li><a href="/components/avatar.html" class="side-nav-link">Avatar</a></li>
          <li><a href="/components/banner.html" class="side-nav-link">Banner</a></li>
          <li><a href="/components/card.html" class="side-nav-link">Card</a></li>
          <li><a href="/components/image.html" class="side-nav-link">Image</a></li>
          <li><a href="/components/input.html" class="side-nav-link">Input</a></li>
          <li><a href="/components/modal.html" class="side-nav-link">Modal</a></li>
        </ul>
      </div>
    </aside>

    <main>
        <h1>Avatar</h1>
        <p>Use avatar to display the logged in user</p>
        <h2>Examples</h2>
        <div class="avatar-examples">
            
            <figure class="avatar avatar-small">
                <img src='/assets/avatars/man-avatar.jpeg' alt="avatar"/>
            </figure>
            <figure class="avatar avatar-medium">
                <img src='/assets/avatars/lady-avatar.png' alt="avatar"/>
            </figure>
            <figure class="avatar avatar-large">
                <img src='/assets/avatars/man-two-avatar.png' alt="avatar"/>
            </figure>
            
        </div>
        <div class='code-snippet'>
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=base16-dark&wt=bw&l=auto&ds=true&dsyoff=37px&dsblur=68px&wc=true&wa=true&pv=55px&ph=42px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=134%25&si=false&es=2x&wm=false&code=%2520%2520%253Cfigure%2520class%253D%2522avatar%2520avatar-small%2522%253E%250A%2520%2520%2520%2520%2520%253Cimg%2520src%253D%27%252Fassets%252Favatars%252Fman-avatar.jpeg%27%2520alt%253D%2522avatar%2522%252F%253E%250A%2520%2520%253C%252Ffigure%253E%250A%2520%2520%253Cfigure%2520class%253D%2522avatar%2520avatar-medium%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520src%253D%27%252Fassets%252Favatars%252Flady-avatar.png%27%2520alt%253D%2522avatar%2522%252F%253E%250A%2520%2520%253C%252Ffigure%253E%250A%2520%2520%253Cfigure%2520class%253D%2522avatar%2520avatar-large%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520src%253D%27%252Fassets%252Favatars%252Fman-two-avatar.png%27%2520alt%253D%2522avatar%2522%252F%253E%250A%2520%2520%253C%252Ffigure%253E"
            style="width: 685px; height: 359px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>
    <h2>Avatar with status</h2>
    <p>Override background color to change the status</p>
    <div class="avatar-examples">
        <figure class="avatar avatar-medium avatar-online-status">
            <img src='/assets/avatars/support-avatar.jpeg' alt="avatar"/>
            <span class="dot"></span>
        </figure>
        <figure class="avatar avatar-medium avatar-offline-status">
            <img src='/assets/avatars/support-avatar.jpeg' alt="avatar"/>
            <span class="dot"></span>
        </figure>
    </div>
    <div class='code-snippet'>
       <iframe
            src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=base16-dark&wt=bw&l=auto&ds=true&dsyoff=37px&dsblur=68px&wc=true&wa=true&pv=55px&ph=42px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=134%25&si=false&es=2x&wm=false&code=%2520%2520%253Cfigure%2520class%253D%2522avatar%2520avatar-medium%2520avatar-online-status%2522%253E%250A%2520%2520%2520%2520%2520%253Cimg%2520src%253D%27%252Fassets%252Favatars%252Fsupport-avatar.jpeg%27%2520alt%253D%2522avatar%2522%252F%253E%250A%2520%2520%2520%2520%2520%253Cspan%2520class%253D%2522dot%2522%253E%253C%252Fspan%253E%250A%2520%2520%253C%252Ffigure%253E"
            style="width: 702px; height: 264px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>
    </main>
  </div>
   
</body>
</html>