<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hinode</title>
    <link rel="shortcut icon" href="./assets/logo.ico" />
    <link rel="stylesheet" href="./components.css"/>
</head>
<body>
    <nav class="nav-container">
        <h1 class="nav-brand">Hinode</h1>
        <div class="nav-pills"> 
            <a href="/index.html">Home</a>
            <a href="/components/intro.html">Docs</a>
        </div>
     </nav>
     <div class="main-body-content">
        <aside>
            <ul class="side-nav">
              <li class="flex"><a href="intro.html" class="side-nav-link">Getting Started</a></li>
              <li class="flex"><a href="#" class="side-nav-link">Introduction</a></li>
              <li class="flex"><a href="button.html" class="side-nav-link">Button</a></li>
            </ul>
        </aside>
        <main>
            <h1>Button</h1>

        </main>

    </div>
</body>
</html>