* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --black : black;
    --white : white;
    --main-font : 'Montserrat', sans-serif;
}

body {
    background-color: white;  
    font-family: var(--main-font);
    color: var(--black);
   
}

/*side navigation*/
.side-nav-container {
    background-color: black;  
    position: fixed;
    width: 350px;
    height: 100%;
    padding: 10px 0;
}
.nav-brand a {
    display: flex;
    color: var(--white);
    font-size: 20px;

    text-decoration: none;
    
}
.nav-brand h1 {
    position: relative;
    top: 42px;
    right: 48px;
}

.nav-brand img {
    max-width: 50%;
    position: relative;
    top: -20px;
}

/*side navigation components*/

.side-nav-pills {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 30px;
}
.side-nav-pills li{
    padding: 15px;
    margin-left: 50px;
  
}
.side-nav-link {
    color: var(--white);
    text-decoration: none;
   
}
.side-nav-pills li:hover{
    background-color: #f7bb08;
    border-radius: 6px;
    padding-left: 35px;
 }
 

/*main body*/
main {
    width: 100%;
    margin-left: 350px;
    padding: 120px;
}
main * {
    padding: 10px;
}