<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hinode</title>
    <link rel="shortcut icon" href="./assets/logo.ico" />
    <link rel="stylesheet" href="./components.css"/>
</head>
<body>
  <div class="wrapper">

    <aside class="side-nav-container">
        <div class="nav-brand">
          <a href="/index.html">
            <img src="../assets/hinode-tm.png">
            <h1>Hinode</h1>
          </a>
      </div>
      <div>
        <ul class="side-nav-pills">
          <li><a href="intro.html" class="side-nav-link">Getting Started</a></li>
          <li><a href="button.html" class="side-nav-link">Button</a></li>
          <li><a href="avatar.html" class="side-nav-link">Avatar</a></li>
          <li><a href="banner.html" class="side-nav-link">Banner</a></li>
          <li><a href="card.html" class="side-nav-link">Card</a></li>
          <li><a href="image.html" class="side-nav-link">Image</a></li>
          <li><a href="input.html" class="side-nav-link">Input</a></li>
          <li><a href="modal.html" class="side-nav-link">Modal</a></li>
        </ul>
      </div>
    </aside>

    <main>
        <h1>Getting started with Hinode</h1>
        
    </main>
  </div>
   
</body>
</html>